:root {
    --primary-color: #007BFF;
    --primary-hover-color: #0056b3;
    --danger-color: #FF4136;
    --danger-hover-color: #E03129;
    --background-color: #f0f0f0;
    --hint-background-color: rgb(238, 238, 238);
    --hint-border-color: black;
}

body {
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--background-color);
}

.screen {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.screen.active {
    display: flex;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--primary-hover-color);
}

select {
    padding: 10px;
    font-size: 16px;
}

#grid-container {
    display: grid;
    grid-gap: 10px;
    width: 90vmin;
    height: 90vmin;
}

#hint-grid-container {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px;
    width: 90vmin;
    height: 250px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.grid-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    aspect-ratio: 1 / 1;
}

.grid-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.grid-image:hover {
    opacity: 0.8;
    cursor: pointer;
}

.grid-button:hover {
    background-color: var(--primary-hover-color);
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px;
    font-size: 24px;
    background-color: var(--danger-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-button:hover {
    background-color: var(--danger-hover-color);
}

#hint-container {
    position: absolute;
    left: 20px;
    margin-top: 40px;
    padding: 10px;
    border: 5px dotted var(--hint-border-color);
    background-color: var(--hint-background-color);
    font-size: 30px;
    font-weight: bold;
}

.active-image {
    outline: var(--primary-hover-color) solid 5px;
}

#hint-screen {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

#hint-screen.active {
    display: flex;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .grid-image {
        width: 150px;
        height: 150px;
    }

    button {
        font-size: 16px;
        padding: 8px 16px;
    }

    .back-button {
        font-size: 20px;
        padding: 8px;
    }

    #hint-container {
        font-size: 24px;
    }
}