body {
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.screen {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.screen.active {
    display: flex;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

select {
    padding: 10px;
    font-size: 16px;
}

#grid-container {
    display: grid;
    grid-gap: 10px;
    width: 90vmin;
    height: 90vmin;
}

/* Schermen groter dan 1200px */
@media (min-width: 1200px) {
    #grid-container {
        width: 80vmin;
        height: 80vmin;
    }
}

/* Schermen tussen 768px en 1199px */
@media (min-width: 768px) and (max-width: 1199px) {
    #grid-container {
        width: 85vmin;
        height: 85vmin;
    }
}

/* Schermen kleiner dan 767px */
@media (max-width: 767px) {
    #grid-container {
        width: 95vmin;
        height: 95vmin;
    }
}

.grid-button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    aspect-ratio: 1 / 1;
}

.grid-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.grid-image:hover {
    opacity: 0.8;
    cursor: pointer;
}

.grid-button:hover {
    background-color: #0056b3;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px;
    font-size: 24px;
    background-color: #FF4136;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-button:hover {
    background-color: #E03129;
}

#hint-container {
    position: absolute;
    left: 20px;
    margin-top: 40px;
    padding: 10px;
    border: 5px dotted black;
    background-color: rgb(238, 238, 238);
    font-size: 30px;
    font-weight: bold;
}

.active-image {
    outline: #0056b3 solid 5px;
}
